html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(255, 255, 255);
    margin: 20px;
    padding: 20px;
    font-family: 'monserrat', sans-serif;
    font: rgb(49, 49, 49);
}

h1 {
    font-size: 20px;
    font-family: 'monserrat', sans-serif;
    text-align: center;
}

h2 {
    font-size: 16px;
    font-family: 'monserrat', sans-serif;
    color: #00274C;
    text-align: center;
}

h3 {
    font-size: 12px;
    font-family: 'monserrat', sans-serif;
    font-weight: bold;
    color: rgb(49, 49, 49);
}

li,
p {
    font-size: 12px;
    font-family: 'monserrat', sans-serif;
    color: rgb(49, 49, 49);
    line-height: 1.5;
}

.container img {
    /* border: 5px solid rgb(49, 49, 49);*/
    /*margin: 20px;*/
    /*padding: 10px;*/
    width: 100%;
    /* border-top-right-radius: 20px;*/
    border-radius: 10px;
}

ul {
    list-style-type: square;
    display: inline-block;
    margin-left: 10px;
}

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 5px;
}

nav li {
    height: 25px;
    display: inline-block;
    line-height: 25px;
    text-align: center;
    background-color: #00274C;
    color: white;
    border-radius: 5px;
}

nav a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
}

nav {
    height: 25px;
    background-color: #ffffff;
    text-align: center;
}

footer {
    background-color: #FFCB05;
    color: #00274C;
    /*padding-top: 30px;*/
    text-align: center;
}

.skip a {
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

.skip a {
    position: absolute;
    top: -40px;
}

.skip a:focus {
    top: 0px;
}

nav li a:focus {
    text-decoration: underline;
}

nav li .active {
    height: 25px;
    width: 100%;
    display: inline-block;
    line-height: 25px;
    text-align: center;
    background-color: #1c66a6;
    color: white;
    border-radius: 5px;
}

.container p a {
    text-decoration: underline;
    color: #1c66a6;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 5px;
}

.welcome,
.tutoring,
.information,
.appointment,
.tutors,
.sheet {
    grid-column: 1 / span 3;
}

.list1,
.list2,
.nav1,
.nav2,
.nav3,
.nav4,
.logo {
    grid-row: 1;
}

.list1 {
    grid-column: 1 / span 1;
}

.list1 {
    grid-column: 2 / span 2;
}

.logo {
    grid-column: 1 / span 1;
}

.nav1 {
    grid-column: 2 / span 1;
}

.nav2 {
    grid-column: 3 / span 1;
}

.nav3 {
    grid-column: 4 / span 1;
}

.nav4 {
    grid-column: 5 / span 1;
}

.writing {
    grid-column: 1 / span 1;
    grid-row: 2;
}

.ELI {
    grid-column: 2 / span 1;
    grid-row: 2;
}

.LSA {
    grid-column: 3 / span 1;
    grid-row: 2;
}

.welcome,
.appointment,
.tutors {
    grid-row: 2;
}

.tutoring,
.sheet {
    grid-row: 3;
}

.information {
    grid-row: 4;
}